@using stavel2.Models
@model stavel2.Models.NavigationElement
<ul>
    @{
        Material material = ViewBag.CurrentArticle;
        if (material != null)
        {
            var ctx = new StavelDataContext();
            var links = ctx.NavigationElements.Where(n => n.Tag == material.SeoUrl);
            foreach (var navigationElement in links)
            {
                <li><a href="@Url.Content("~" + navigationElement.Url)">@navigationElement.Text</a></li>
            }
        }
    }
</ul>