@using System.Web.Script.Serialization
@model List<stavel2.Areas.Admin.Models.MaterialsListViewModel>
@{
    Layout = "../Shared/_Layout.cshtml";
}
<script type="text/javascript">
    
    function spinnerStart() {
        var opts = {
            lines: 13, // The number of lines to draw
            length: 20, // The length of each line
            width: 10, // The line thickness
            radius: 30, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: 'auto', // Top position relative to parent in px
            left: 'auto' // Left position relative to parent in px
        };
        var target = document.getElementById('spinner');
        var spinner = new Spinner(opts).spin(target);
        return spinner;
    }


    function CreateNewArticle() {
        var url = "@Url.Action("Create")";
        window.location.href = url;
    }

    $(document).ready(function() {

        var spinner = spinnerStart();

        var articlesData = {};

        function ArticleListViewModel() {
            var self = this;
            self.articles = ko.observableArray(articlesData);
            self.EditArticle = function (article) {
                var url = "@Url.Action("Edit")";
                window.location.href = url + "/" + article.Id;
            };
            self.DeleteArticle = function (article) {
                var url = '@Url.Action("Delete")'+'/'+article.Id;
                $.get(url);
            };
        }

        $.getJSON('@Url.Action("GetListJson")', articlesData, function(data) {
            articlesData = data;
            ko.applyBindings(new ArticleListViewModel());
            spinner.stop();
        });

    });
</script>
<h2>Список содержимого</h2>
<button type="button" class="btn btn-success" onclick="CreateNewArticle()">Создать содержимое</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ИД</th>
            <th>Заголовок</th>
            <th>User Frendly ссылка</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:articles">
        <tr>
            <td data-bind="text:Id"></td>
            <td data-bind="text:Title"></td>
            <td data-bind="text:SeoUrl"></td>
            <td><button type="button" class="btn btn-success" data-bind="click:$parent.EditArticle">Редактировать</button></td>
            <td><button type="button" class="btn btn-danger" data-bind="click:$parent.DeleteArticle">Удалить</button></td>
        </tr>
    </tbody>
</table>
<div id="spinner"></div>

